<?xml version="1.0" encoding="UTF-8" standalone="no"?><message-persistence><semi-synchronous-context><project name="Db4o"><activities><activity name="Identificação do bad smell"/><activity name="Identificação do god class"/></activities><team><user key="12345" login="carlosfabio" name="Carlos Fábio"/><user key="12345" login="glaucocarneiro" name="Gláuco Carneiro"/><user key="12345" login="josemaria" name="José Maria"/></team></project><project name="ESTrabalho1"><activities><activity name="Identificação do bad smell"/><activity name="Identificação do god class"/></activities><team><user key="12345" login="carlosfabio" name="Carlos Fábio"/><user key="12345" login="glaucocarneiro" name="Gláuco Carneiro"/><user key="12345" login="josemaria" name="José Maria"/></team></project></semi-synchronous-context></message-persistence>